<div>
  <div>
    Icons made by
    <!-- Controller -->
    <!-- Person -->
    <a href="https://www.freepik.com/" title="Freepik">Freepik</a>,
    <!-- Heart -->
    <a href="https://www.flaticon.com/authors/google" title="Google">Google</a>,
     <!-- House -->
    <a href="https://www.flaticon.com/authors/icomoon" title="Icomoon">Icomoon</a>,
    <!-- Mail -->
    <a href="https://www.flaticon.com/authors/yannick" title="Yannick">Yannick</a>,
    <!-- Eye -->
    <a href="https://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a>

    from <a href="https://www.flaticon.com/"
    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"
    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
  </div>
</div>
