<nav class="navbar navbar-expand-lg navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" routerLink="/">ImGenericUsername1</a>

  <!-- Toggler -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Right Hand Links -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <!-- Home -->
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">
          <img id="home-icon" src="assets/images/twitch/Twitch_White.svg" alt="Home Icon" />
        </a>
      </li>

      <!-- Twitch -->
      <li class="nav-item">
        <a class="nav-link" href="https://www.twitch.tv/imgenericusername1">
          <img id="twitch-icon" src="assets/images/twitch/Twitch_White.svg" alt="Twitch Icon" />
        </a>
      </li>

      <!-- Twitter -->
      <li class="nav-item">
        <a class="nav-link" href="/">
          <img id="twitter-icon" src="assets/images/twitter/Twitter_White.svg" alt="Twitter Icon" />
        </a>
      </li>

      <!-- Games -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/games">
          <img id="game-icon" src="assets/images/twitch/Twitch_White.svg" alt="Game Icon" />
        </a>
      </li>
    </ul>
  </div>
</nav>
