<nav id="navbar-wrapper" class="navbar navbar-expand-lg navbar-dark fixed-top">
  <!-- Brand -->
  <span class="navbar-brand">Im Generic Username 1</span>

  <!-- Toggler -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Right Hand Links -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">

      <!-- Home -->
      <li class="nav-item mr-3 navbar-animation">
        <app-nav-item-local src="assets/images/home/Home_White.svg" alt="House Icon" href="/" title="Home"></app-nav-item-local>
      </li>
      <!-- Twitch -->
      <li class="nav-item mr-3 navbar-animation">
        <app-nav-item-remote src="assets/images/twitch/Twitch_White.svg" alt="Twitch Icon" href="https://www.twitch.tv/imgenericusername1" title="Twitch"></app-nav-item-remote>
      </li>
      <!-- Dicord -->
      <li class="nav-item mr-3 navbar-animation">
        <app-nav-item-remote src="assets/images/discord/Discord_White.svg" alt="Discord Icon" href="https://discord.gg/HBwYvA8" title="Discord"></app-nav-item-remote>
      </li>
      <!-- Twitter -->
      <li class="nav-item mr-3 navbar-animation">
        <app-nav-item-remote src="assets/images/twitter/Twitter_White.svg" alt="Twitter Icon" href="https://twitter.com/GenericIm" title="Twitter"></app-nav-item-remote>
      </li>
      <!-- Reddit -->
      <li class="nav-item mr-3 navbar-animation">
        <app-nav-item-remote src="assets/images/reddit/Reddit_White.svg" alt="Reddit Icon" href="https://www.reddit.com/r/IMGeneric" title="Reddit"></app-nav-item-remote>
      </li>
      <!-- Snapchat -->
      <li class="nav-item mr-3 navbar-animation">
        <app-nav-item-remote src="assets/images/snapchat/Snapchat_White.svg" alt="Snapchat Icon" href="https://www.snapchat.com/add/snap_chad" title="Snapchat"></app-nav-item-remote>
      </li>
      <!-- Steam -->
      <li class="nav-item mr-3 navbar-animation">
        <app-nav-item-remote src="assets/images/steam/Steam_White.svg" alt="Steam Icon" href="https://steamcommunity.com/id/ChadChangles/" title="Steam"></app-nav-item-remote>
      </li>
      <!-- Games -->
      <li class="nav-item mr-3 navbar-animation">
        <app-nav-item-local src="assets/images/games/Controller_White.svg" alt="Controller Icon" href="/games" title="Game List"></app-nav-item-local>
      </li>
      <!-- Donation -->
      <li class="nav-item mr-3 navbar-animation">
        <app-nav-item-remote src="assets/images/donation/Heart_White.svg" alt="Heart Icon" href="https://streamlabs.com/imgenericusername1" title="Donations"></app-nav-item-remote>
      </li>
      <!-- Referals -->
      <li class="nav-item mr-3 navbar-animation">
        <app-nav-item-local src="assets/images/referal/Referal_White.svg" alt="Referal Icon" href="/referals" title="Referals"></app-nav-item-local>
      </li>
      <!-- Contact -->
      <li class="nav-item mr-3 navbar-animation">
        <app-nav-item-remote src="assets/images/contact/Mail_White.svg" alt="Mail Icon" href="mailto:genericuserbot1@gmail.com" title="Contact Me"></app-nav-item-remote>
      </li>
    </ul>
  </div>
</nav>
