<nav class="navbar navbar-expand-lg navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand navbar-animation" routerLink="/">Im Generic Username 1</a>

  <!-- Toggler -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Right Hand Links -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <!-- Home -->
      <li class="nav-item mr-3">
        <a class="nav-link navbar-animation" routerLink="/">
          <img id="home-icon" src="assets/images/home/Home_White.svg" alt="Home Icon" />
        </a>
      </li>

      <!-- Twitch -->
      <li class="nav-item mr-3">
        <a class="nav-link navbar-animation" href="https://www.twitch.tv/imgenericusername1">
          <img id="twitch-icon" src="assets/images/twitch/Twitch_White.svg" alt="Twitch Icon" />
        </a>
      </li>

      <!-- Twitter -->
      <li class="nav-item mr-3">
        <a class="nav-link navbar-animation" href="/">
          <img id="twitter-icon" src="assets/images/twitter/Twitter_White.svg" alt="Twitter Icon" />
        </a>
      </li>

      <!-- Games -->
      <li class="nav-item mr-3">
        <a class="nav-link navbar-animation" routerLink="/games">
          <img id="game-icon" src="assets/images/games/Controller_White.svg" alt="Game Icon" />
        </a>
      </li>

      <!-- Donation -->
      <li class="nav-item mr-3">
          <a class="nav-link navbar-animation" href="https://streamlabs.com/imgenericusername1">
            <img id="game-icon" src="assets/images/donation/Heart_White.svg" alt="Heart Icon" />
          </a>
      </li>

      <!-- Contact -->
      <li class="nav-item mr-3">
        <a class="nav-link navbar-animation" routerLink="/">
          <img id="game-icon" src="assets/images/contact/Mail_White.svg" alt="Mail Icon" />
        </a>
      </li>

    </ul>
  </div>
</nav>
