#brand-icon {
  width: 25px;
  height: 25px;
}

#home-icon {
  width: 20px;
  height: 20px;
}

#twitch-icon {
  width: 20px;
  height: 20px;
}

#twitter-icon {
  width: 25px;
  height: 25px;
}

#game-icon {
  width: 20px;
  height: 20px;
}

.navbar-icon {
  border-radius: 20px;
  transition: all .2s ease-in-out;
  background: none;
}

.navbar-icon:hover {
  border-radius: 5px;
  background-image: linear-gradient(to bottom right, #0eeb6f, #11b187);
}
