<div class="below-nav-bar-wrapper container-fluid">
  <div class="row">
    <div class="col container-fluid text-center">
      <!-- TODO: Make fancy -->
      <h1 class="pt-3">Game List</h1>

      <div *ngIf="_games$ | async as games; else gameLibraryLoading">
        <ul class="list-inline">
          <app-game-item
          *ngFor="let game of games"
          appId="{{ game.appId }}"
          name="{{ game.name }}"
          playtimeForever="{{ game.playtimeForever }}"
          imgIconUrl="{{ game.imgIconUrl }}"
          imgLogoUrl="{{ game.imgLogoUrl }}"
          ></app-game-item>
        </ul>
      </div>
  </div>
</div>

<ng-template #gameLibraryLoading>
  <img height="75px" src="assets/images/loaders/Double_Ring.svg" alt="Load Spinner" />
</ng-template>

