<div id="landing-page-wrapper">
  <div id="landing-page-container" class="container">
    <div class="row py-md-5 py-5"></div>
    <div class="row py-md-5 py-sm-3"></div>
    <div class="row">
      <div class="col-1"></div>

      <div class="col-10 text-center">
        <!-- Twitch Icon -->
        <div id="twitch-icon-container" class="background-gradient-green-1 rounded mx-auto">
            <img id="twitch-icon" src="assets/images/brand/Generic_Boy.png" />
        </div>

        <!-- Currently Playing -->
        <div id="currently-playing-text" class="mt-4">
            <h3>Im Generic Username is playing: XYZ</h3>
        </div>

        <!-- Horizontal Rule -->
        <hr id="buffer-line" class="mt-4 col-lg-3 col-4" />

        <!-- Currently Playing -->
        <div id="currently-playing-text" class="mt-4">
            <h4>Variety Game Streamer</h4>
        </div>

        <!-- Twitch Stats -->
        <div id="currently-playing-text" class="row mt-4">

          <!-- Gutter -->
          <div class="col"></div>

          <!-- Views -->
          <div class="stats-container mx-sm-2 col-lg-2 col-md-3 col-sm-4 col-xs-5 col-12">
            <div class="row">
              <img id="viewer-icon" class="mx-2" src="assets/images/viewers/Eye_White.svg" alt="Eye icon" />
              <span class="mx-auto">{{ _twitchUser.view_count }}</span>
            </div>
          </div>

          <!-- Buffer on small viewport -->
          <div class="col-1 my-2"></div>

          <!-- Followers -->
          <div class="stats-container mx-sm-2 col-lg-2 col-md-3 col-sm-4 col-xs-5 col-12">
            <div class="row">
              <img id="follower-icon" class="my-auto mx-2" src="assets/images/followers/Person_White.svg" alt="Person icon" />
              <span class="mx-auto">{{ _twitchTotalFollowers }}</span>
            </div>
          </div>

          <!-- Gutter -->
          <div class="col"></div>

        </div>

        <!-- Watch Live -->
        <a  href="https://www.twitch.tv/imgenericusername1">
          <button id="watch-live-button" class="foreground-white mt-4 col-xl-2 col-md-3 col">
            Watch Live
          </button>
        </a>
      </div>

      <div class="col-1"></div>
    </div>
  </div>
</div>
