<div id="landing-page-container" class="container">
    <div class="row py-5"></div>
    <div class="row py-5"></div>
    <div class="row">
    <div class="col-1"></div>

    <div class="col-10 text-center">
      <!-- Twitch Icon -->
      <div id="twitch-icon-container" class="background-gradient-green-1 rounded mx-auto">
          <img id="twitch-icon" src="assets/images/brand/Generic_Boy.png" />
      </div>

      <!-- Currently Playing -->
      <div id="currently-playing-text" class="mt-4">
          <h3>Im Generic Username is playing: XYZ</h3>
      </div>

      <!-- Twitch Stats -->
      <div id="currently-playing-text" class="row mt-4">
        <div class="col"></div>
        <!-- Views -->
        <div class="stats-container col-2 mx-2">
          <div class="row">
              <img id="viewer-icon" class="mx-2" src="assets/images/viewers/Eye_White.svg" alt="Eye icon" />
              <span class="mx-auto">111,111,111</span>
          </div>
        </div>
        <!-- Followers -->
        <div class="stats-container col-2 mx-2">
            <div class="row">
                <img id="follower-icon" class="my-auto mx-2" src="assets/images/followers/Person_White.svg" alt="Person icon" />
                <span class="mx-auto">111,111</span>
            </div>
          </div>
        <div class="col"></div>
      </div>

      <!-- Watch Live -->
      <button id="watch-live-button" class="foreground-white mt-4">
        Watch Live
      </button>
    </div>

    <div class="col-1"></div>
  </div>
</div>
