<div id="landing-page-wrapper">
  <div id="landing-page-container" class="container">
    <div class="row py-md-5 py-5"></div>
    <div class="row py-md-5 py-sm-3"></div>
    <div class="row">
      <div class="col-1"></div>

      <div class="col-10 text-center">
        <!-- Twitch Icon -->
        <div id="twitch-icon-container" class="background-gradient-green-1 rounded mx-auto">
            <img id="twitch-icon" src="assets/images/brand/Generic_Boy.png" />
        </div>

        <!-- Currently Playing -->
        <div class="mt-4">
          <app-stream-activity></app-stream-activity>
        </div>

        <!-- Horizontal Rule -->
        <hr id="buffer-line" class="mt-4 col-lg-3 col-4" />

        <!-- Currently Playing -->
        <div class="mt-4">
            <h4>Variety Game Streamer</h4>
        </div>

        <!-- Twitch Stats -->
        <div class="row mt-4">

          <!-- Gutter -->
          <div class="col"></div>

          <!-- Views -->
          <div class="stats-container mx-sm-2 col-lg-2 col-md-3 col-sm-4 col-xs-5 col-12">
            <app-view-count></app-view-count>
          </div>

          <!-- Buffer on small viewport -->
          <div class="col-1 my-2"></div>

          <!-- Followers -->
          <div class="stats-container mx-sm-2 col-lg-2 col-md-3 col-sm-4 col-xs-5 col-12">
            <app-follower-count></app-follower-count>
          </div>

          <!-- Gutter -->
          <div class="col"></div>

        </div>

        <!-- Watch Live -->
        <a  href="https://www.twitch.tv/imgenericusername1">
          <button id="watch-live-button" class="foreground-white mt-4 col-xl-2 col-md-3 col">
            Watch Live
          </button>
        </a>
      </div>

      <div class="col-1"></div>
    </div>
  </div>
</div>
